In [3]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.2-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\b8-01\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\b8-01\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 11.5/11.5 MB 74.4 MB/s eta 0:00:00
Downloading numpy-2.2.2-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ---------------------------------------  12.3/12.6 MB 61.1 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 53.2 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.2 pandas-2.2.3 pytz-2024.2 tzdata-2025.1

In [3]:
import pandas as pd

# 시도지역코드 불러오기

In [9]:
sido = pd.read_csv(r'D:\kimomin\DataAnalysis\data\시군구지역코드.csv', encoding='EUC-KR')
sido.head()

   시도지역코드  시군구지역코드 시군구명
0      11    11110  종로구
1      11    11140   중구
2      11    11170  용산구
3      11    11200  성동구
4      11    11215  광진구

In [10]:
sido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시도지역코드   257 non-null    int64
 1   시군구지역코드  257 non-null    int64
 2   시군구명     257 non-null    object
dtypes: int64(2), object(1)
memory usage: 6.2+ KB

In [8]:
#sido['코드']=sido['시도지역코드']+10
#sido.head()

   시도지역코드  시군구지역코드 시군구명  코드
0      11    11110  종로구  21
1      11    11140   중구  21
2      11    11170  용산구  21
3      11    11200  성동구  21
4      11    11215  광진구  21

# 시도별 진료정보 불러오기

In [17]:
import os

path = 'data/'
file_list = os.listdir(path)
file_list

df = pd.DataFrame()

for i in file_list:
    if i.endswith('_시도.csv'):
       # print(i)
       data = pd.read_csv(path+i, encoding='EUC-KR')
       df = pd.concat([df,data])

In [18]:
df.head()

           날짜  시도지역코드  발생건수(건)
0  2023-10-01    11.0  17218.0
1  2023-10-01    26.0   5699.0
2  2023-10-01    27.0   3590.0
3  2023-10-01    28.0   7524.0
4  2023-10-01    29.0   3044.0

In [20]:
df.shape

(141588, 3)